<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <a href="">
        <i class="bx bx-store-alt"></i>
        <div class="logo_name">Home</div>
      </a>
    </div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav_list">
    <li>
      <i class="bx bx-search-alt"></i>
      <input type="text" placeholder="search..." />

      <!-- <span class="tooltip">create</span> -->
    </li>
    <li>
      <a href="">
        <i class="bx bx-add-to-queue"></i>
        <span class="link_name">create</span>
      </a>
      <!-- <span class="tooltip">create</span> -->
    </li>
    <li>
      <a href="">
        <i class="bx bx-user"></i>
        <span class="link_name">User</span>
      </a>
      <!-- <span class="tooltip">create</span> -->
    </li>
    <li>
      <a href="">
        <i class="bx bx-chat"></i>
        <span class="link_name">messenger</span>
      </a>
      <!-- <span class="tooltip">create</span> -->
    </li>
  </ul>
</div>
